<div class="main">
    <div class="container">
        <div class="custom-row">

            <!-- Sidebar Col -->
            <div class="custom-col sidebar-col">
                <div class="sidebar-container">
                    <div class="sidebar-group doors-wrap">
                        <h3>Engineering Doors</h3>

                        <div class="door-list">
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="sidebar-group used-doors">
                        <h3>Used Doors</h3>

                        <div class="door-list">
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="sidebar-group used-doors">
                        <h3>Other Options</h3>

                        <div class="door-list">
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                            <span class="door-dot"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Svg viewer Col -->
            <div class="custom-col svg-col">
                <div class="svg-container">
                    <div class="svg-inner">
                        <svg>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>